.btn-container {
	display: flex;
}

.btn-primary {
	margin-right: 5px;
	border: none;
	background: var(--main-accent);
}

.btn-primary:hover {
	background: var(--main-accent);
	filter: brightness(90%);
}

.form-modal {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	height: max-content;
	max-height: 75%;
	width: 800px;
	max-width: 80%;
	background: black;
}

.form-modal:focus {
	outline: none;
}