.book-list {
	width: 100%;
	padding: 5px;
}

.book-item {
	width: 100%;
	background: white;
	color: black;
	padding: 10px;
	margin-top: 10px;
	border-radius: 3px;
	border: 1px solid black;
}

.book-item:hover {
	cursor: pointer;
	filter: brightness(93%);
	transition: filter 300ms, border 300ms;
}

.card-title,
.author {
	margin: 0;
}

.premise {
	margin: 10px 0;
}

.genre-tag {
	border-radius: 3px;
	background: black;
	color: white;
	padding: 5px;
}